@model FoodBevIngredient

<link rel="stylesheet" href="~/css/ValidateInputStyleSheet.css" asp-append-version="true" />

<h2>Update @Model.IngredientName</h2>
<hr />
@if (User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-controller="FoodBevIngredient" asp-action="UpdateFoodBevIngredientToDatabase" method="post">

            <div class="form-group">
                <input asp-for="IngredientID" type="hidden" class="form-control" />
                <span asp-validation-for="IngredientID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IngredientName" class="col-md-2">Ingredient Name</label>
                <input asp-for="IngredientName" type="text" class="form-control" required />
                <span asp-validation-for="IngredientName" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="IngredientStockLevel" class="col-md-2">Stock Level</label>
                <input asp-for="IngredientStockLevel" type="number" max="2147483647" min="0" step="1" class="form-control" required />
                <span asp-validation-for="IngredientStockLevel" class="text-danger"></span>
            </div>
            <br />

            @if (User.IsInRole("Owner"))
            {
                <div class="form-group">
                    <label asp-for="IngredientCost" class="col-md-2">Ingredient Cost</label>
                    <input asp-for="IngredientCost" type="number" max="2147483647" min="0" step="0.01" class="form-control" required />
                    <span asp-validation-for="IngredientCost" class="text-danger"></span>
                </div>
                <br />
            }


            <div class="form-group">
                <label for="">Ingredient Category</label>
                <select class="form-control" name="IngredientCategoryName" value="">
                    @foreach (var cat in Model.IngredientCategories)
                    {
                        <option value="@cat.IngredientCategoryName">@cat.IngredientCategoryName</option>
                    }
                </select>
            </div>
            <br />

            <a href="#" class="StandardButtonOutline" onclick="if(confirm('Are you sure you would like to save changes entered for this ingredient?')) $(this).closest('form').submit();">Update Ingredient</a>
        </form>
    </div>
}
<br />
<input type="button" class="StandardButtonOutline" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
