@model SalesTransaction

<link rel="stylesheet" href="~/css/ValidateInputStyleSheet.css" asp-append-version="true" />

<h2>Create New Transaction - Step 1</h2>
<hr />
@if (User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-controller="SalesTransaction" asp-action="CreateSalesTransaction2" method="post">

            <div class="form-group">
                <input asp-for="TipAmount" type="hidden" class="form-control" />
                <span asp-validation-for="TipAmount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="NumOfCustomersAdult" type="hidden" class="form-control" />
                <span asp-validation-for="NumOfCustomersAdult" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="NumOfCustomersChild" type="hidden" class="form-control" />
                <span asp-validation-for="NumOfCustomersChild" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label for="">Server ID</label>
                <select class="form-control" name="EmployeeID" value="">
                    @foreach (var emp in Model.ServerList)
                    {
                        <option value="@emp.EmployeeID">@emp.EmployeeID<text>&emsp;&emsp;</text>@emp.FirstName<text>&nbsp;</text>@emp.LastName</option>
                    }
                </select>
            </div>
            <br />
            <a href="#" class="StandardButtonOutline"><button>Next Step</button></a>
        </form>
    </div>
}
<br />
<input type="button" class="StandardButtonOutline" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />