@model SalesTransaction

<style>
    p {
        color: red;
    }
</style>

<h2>Payment Receipt</h2>
<hr />
@if (User.IsInRole("Guest"))
{
    <div class="form-group">
        <input asp-for="SalesTransactionID" type="hidden" class="form-control" />
        <span asp-validation-for="SalesTransactionID" class="text-danger"></span>
    </div>
    <br />

    @if (Model.AllYouCanEat == true)
    {
        <p>All You Can Eat: Yes</p>
    }
    else
    {
        <p>All You Can Eat: No</p>
    }

    <table class="table">
        <tr>
            <th>Transaction ID</th>
            <th>Pre-Tax Total</th>
            <th>Tax</th>
            <th>Tip</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>@Model.SalesTransactionID</td>
            <td>@Model.SubTotalPreTax</td>
            <td>@Model.TaxAmount</td>
            <td>@Model.TipAmount</td>
            <td>@Model.FinalTransactionAmount</td>
        </tr>
    </table>
    <br />

    <table class="table">
        <tr>
            <th>PaymentMethod</th>
            <th>Date &amp; Time</th>
            <th>Server</th>
            <th>Table</th>
        </tr>
        <tr>
            <td>@Model.PaymentMethod</td>
            <td>@Model.FinalTransactionDateAndTime</td>
            <td>@Model.EmployeeID</td>
            <td>@Model.RestaurantTableID</td>
        </tr>
    </table>
    <br />

    <table class="table">
        <tr>
            <th>Order Number</th>
            @if (Model.AllYouCanEat == false)
            {
                <th>Order Price</th>
            }
        </tr>
        <tr>
            <td>@Model.OrderID1</td>
            @if (Model.AllYouCanEat == false)
            {
                <td>@Model.OrderPrice1</td>
            }
        </tr>
        @if (Model.OrderPrice2 != null)
        {
            <tr>
                <td>@Model.OrderID2</td>
                @if (Model.AllYouCanEat == false)
                {
                    <td>@Model.OrderPrice2</td>
                }
            </tr>
        }
        @if (Model.OrderPrice3 != null)
        {
            <tr>
                <td>@Model.OrderID3</td>
                @if (Model.AllYouCanEat == false)
                {
                    <td>@Model.OrderPrice3</td>
                }
            </tr>
        }
        @if (Model.OrderPrice4 != null)
        {
            <tr>
                <td>@Model.OrderID4</td>
                @if (Model.AllYouCanEat == false)
                {
                    <td>@Model.OrderPrice4</td>
                }
            </tr>
        }
        @if (Model.OrderPrice5 != null)
        {
            <tr>
                <td>@Model.OrderID5</td>
                @if (Model.AllYouCanEat == false)
                {
                    <td>@Model.OrderPrice5</td>
                }
            </tr>
        }
        @if (Model.OrderPrice6 != null)
        {
            <tr>
                <td>@Model.OrderID6</td>
                @if (Model.AllYouCanEat == false)
                {
                    <td>@Model.OrderPrice6</td>
                }
            </tr>
        }
        @if (Model.OrderPrice7 != null)
        {
            <tr>
                <td>@Model.OrderID7</td>
                @if (Model.AllYouCanEat == false)
                {
                    <td>@Model.OrderPrice7</td>
                }
            </tr>
        }
        @if (Model.OrderPrice8 != null)
        {
            <tr>
                <td>@Model.OrderID8</td>
                @if (Model.AllYouCanEat == false)
                {
                    <td>@Model.OrderPrice8</td>
                }
            </tr>
        }
        @if (Model.OrderPrice9 != null)
        {
            <tr>
                <td>@Model.OrderID9</td>
                @if (Model.AllYouCanEat == false)
                {
                    <td>@Model.OrderPrice9</td>
                }
            </tr>
        }
        @if (Model.OrderPrice10 != null)
        {
            <tr>
                <td>@Model.OrderID10</td>
                @if (Model.AllYouCanEat == false)
                {
                    <td>@Model.OrderPrice10</td>
                }
            </tr>
        }
        @if (Model.OrderPrice11 != null)
        {
            <tr>
                <td>@Model.OrderID11</td>
                @if (Model.AllYouCanEat == false)
                {
                    <td>@Model.OrderPrice11</td>
                }
            </tr>
        }
        @if (Model.OrderPrice12 != null)
        {
            <tr>
                <td>@Model.OrderID12</td>
                @if (Model.AllYouCanEat == false)
                {
                    <td>@Model.OrderPrice12</td>
                }
            </tr>
        }
        @if (Model.OrderPrice13 != null)
        {
            <tr>
                <td>@Model.OrderID13</td>
                @if (Model.AllYouCanEat == false)
                {
                    <td>@Model.OrderPrice13</td>
                }
            </tr>
        }
        @if (Model.OrderPrice14 != null)
        {
            <tr>
                <td>@Model.OrderID14</td>
                @if (Model.AllYouCanEat == false)
                {
                    <td>@Model.OrderPrice14</td>
                }
            </tr>
        }
        @if (Model.OrderPrice15 != null)
        {
            <tr>
                <td>@Model.OrderID15</td>
                @if (Model.AllYouCanEat == false)
                {
                    <td>@Model.OrderPrice15</td>
                }
            </tr>
        }
        @if (Model.OrderPrice16 != null)
        {
            <tr>
                <td>@Model.OrderID16</td>
                @if (Model.AllYouCanEat == false)
                {
                    <td>@Model.OrderPrice16</td>
                }
            </tr>
        }
        @if (Model.OrderPrice17 != null)
        {
            <tr>
                <td>@Model.OrderID17</td>
                @if (Model.AllYouCanEat == false)
                {
                    <td>@Model.OrderPrice17</td>
                }
            </tr>
        }
        @if (Model.OrderPrice18 != null)
        {
            <tr>
                <td>@Model.OrderID18</td>
                @if (Model.AllYouCanEat == false)
                {
                    <td>@Model.OrderPrice18</td>
                }
            </tr>
        }
        @if (Model.OrderPrice19 != null)
        {
            <tr>
                <td>@Model.OrderID19</td>
                @if (Model.AllYouCanEat == false)
                {
                    <td>@Model.OrderPrice19</td>
                }
            </tr>
        }
        @if (Model.OrderPrice20 != null)
        {
            <tr>
                <td>@Model.OrderID20</td>
                @if (Model.AllYouCanEat == false)
                {
                    <td>@Model.OrderPrice20</td>
                }
            </tr>
        }
    </table>
    <br />

    <p>----------------------------------------</p>

    <h3>Have a nice day!</h3>
    <br />

    <p>----------------------------------------</p>
    <p>(Employee Only)</p>
    <br />

    <input type="button" class="StandardButtonOutline" value="Logoff Customer" onclick="@("window.location.href='" + @Url.Action("CloseOutCustomer", "SalesTransaction", new {@transactionID = Model.SalesTransactionID}) + "'");" />
}

@if (User.IsInRole("Server") || User.IsInRole("Chef") || User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <input type="button" class="StandardButtonOutline" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
}


