@model SalesTransaction

<h2>Customer Home</h2>
<br />

<div class="form-group">
    <input asp-for="SalesTransactionID" type="hidden" class="form-control" />
    <span asp-validation-for="SalesTransactionID" class="text-danger"></span>
</div>
<br />

<div class="text-center">
    @if (User.IsInRole("Guest"))
    {
        <picture>
            <img src="/Images/SushiGuest.jpg" alt="My logo">
        </picture>
        <br />
        <br />
        <div class="main-page-guest">
            <input type="button" value="View Menu Items" onclick="@("window.location.href='" + @Url.Action("ViewAllMenuItems", "MenuItem", new {@transactionID = Model.SalesTransactionID}) + "'");" />
            <input type="button" value="Place New Order" onclick="@("window.location.href='" + @Url.Action("InsertFoodBevOrder", "FoodBevOrder", new {@transactionID = Model.SalesTransactionID}) + "'");" />
            <input type="button" value="View My Orders" onclick="@("window.location.href='" + @Url.Action("ViewCustomerFoodBevOrder", "FoodBevOrder", new {@transactionID = Model.SalesTransactionID}) + "'");" />
            <input type="button" value="Pay" onclick="@("window.location.href='" + @Url.Action("PayFinalBill", "SalesTransaction", new {@transactionID = Model.SalesTransactionID}) + "'");" />
        </div>
    }
</div>


