@model IEnumerable<SalesTransaction>

<h2>Sales Transactions</h2>
<hr />
@if (User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <div style="display: block">
        @using (Html.BeginForm("CreateSalesTransaction1", "SalesTransaction", "Post"))
        {
            <input type="submit" class="StandardButtonOutline" value="Create New Transaction" />
        }
    </div>
    <br />
}

@if (User.IsInRole("Server") || User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <table class="table">
        <tr>
            <th>Sales Transaction ID</th>
            <th>All You Can Eat</th>
            <th>Transaction Completed</th>
            <th>Transaction Total</th>
            <th>Date &amp; Time</th>
            <th>Server</th>
            <th>Table</th>
        </tr>

        @foreach (var tran in @Model)
        {
            <tr>
                <td><a href=@Url.Action("ViewSalesTransaction", "SalesTransaction", new { transactionID = tran.SalesTransactionID })>@tran.SalesTransactionID</a></td>
                <td>@tran.AllYouCanEat</td>
                <td>@tran.SalesTransactionCompleted</td>
                <td>@tran.FinalTransactionAmount</td>
                <td>@tran.FinalTransactionDateAndTime</td>
                <td>@tran.EmployeeID</td>
                <td>@tran.RestaurantTableID</td>
            </tr>
        }
    </table>
    <br />
}
<input type="button" class="StandardButtonOutline" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />