@model SalesTransaction

<link rel="stylesheet" href="~/css/ValidateInputStyleSheet.css" asp-append-version="true" />

<h2>Create New Transaction</h2>
<hr />
@if (User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-controller="SalesTransaction" asp-action="InsertSalesTransactionToDatabase" method="post">
            <div class="form-group">
                <label for="">Server ID</label>
                <select class="form-control" name="EmployeeID" value="">
                    @foreach (var emp in Model.ServerList)
                    {
                        <option value="@emp.EmployeeID">@emp.EmployeeID<text>&emsp;&emsp;</text>@emp.FirstName<text>&nbsp;</text>@emp.LastName</option>
                    }
                </select>
            </div>
            <br />

            <div class="form-group">
                <label for="">Table</label>
                <select class="form-control" name="RestaurantTableID" value="">
                    @foreach (var table in Model.RestaurantTableList)
                    {
                        <option value="@table.RestaurantTableID">@table.RestaurantTableID</option>
                    }
                </select>
            </div>
            <br />

            @*Order 1*@
            <div class="form-group">
                <label for="">Order 1</label>
                <select class="form-control" name="OrderID1" value="">
                    <option value="" selected></option>
                    @foreach (var order in Model.OrderList)
                    {
                        <option value="@order.OrderID">@order.OrderID</option>
                    }
                </select>
            </div>
            <br />

            @*Order 2*@
            <div class="form-group">
                <label for="">Order 2</label>
                <select class="form-control" name="OrderID2" value="">
                    <option value="" selected></option>
                    @foreach (var order in Model.OrderList)
                    {
                        <option value="@order.OrderID">@order.OrderID</option>
                    }
                </select>
            </div>
            <br />

            @*Order 3*@
            <div class="form-group">
                <label for="">Order 3</label>
                <select class="form-control" name="OrderID3" value="">
                    <option value="" selected></option>
                    @foreach (var order in Model.OrderList)
                    {
                        <option value="@order.OrderID">@order.OrderID</option>
                    }
                </select>
            </div>
            <br />

            @*Order 4*@
            <div class="form-group">
                <label for="">Order 4</label>
                <select class="form-control" name="OrderID4" value="">
                    <option value="" selected></option>
                    @foreach (var order in Model.OrderList)
                    {
                        <option value="@order.OrderID">@order.OrderID</option>
                    }
                </select>
            </div>
            <br />

            @*Order 5*@
            <div class="form-group">
                <label for="">Order 5</label>
                <select class="form-control" name="OrderID5" value="">
                    <option value="" selected></option>
                    @foreach (var order in Model.OrderList)
                    {
                        <option value="@order.OrderID">@order.OrderID</option>
                    }
                </select>
            </div>
            <br />

            @*Order 6*@
            <div class="form-group">
                <label for="">Order 6</label>
                <select class="form-control" name="OrderID6" value="">
                    <option value="" selected></option>
                    @foreach (var order in Model.OrderList)
                    {
                        <option value="@order.OrderID">@order.OrderID</option>
                    }
                </select>
            </div>
            <br />

            @*Order 7*@
            <div class="form-group">
                <label for="">Order 7</label>
                <select class="form-control" name="OrderID7" value="">
                    <option value="" selected></option>
                    @foreach (var order in Model.OrderList)
                    {
                        <option value="@order.OrderID">@order.OrderID</option>
                    }
                </select>
            </div>
            <br />

            @*Order 8*@
            <div class="form-group">
                <label for="">Order 8</label>
                <select class="form-control" name="OrderID8" value="">
                    <option value="" selected></option>
                    @foreach (var order in Model.OrderList)
                    {
                        <option value="@order.OrderID">@order.OrderID</option>
                    }
                </select>
            </div>
            <br />

            @*Order 9*@
            <div class="form-group">
                <label for="">Order 9</label>
                <select class="form-control" name="OrderID9" value="">
                    <option value="" selected></option>
                    @foreach (var order in Model.OrderList)
                    {
                        <option value="@order.OrderID">@order.OrderID</option>
                    }
                </select>
            </div>
            <br />

            @*Order 10*@
            <div class="form-group">
                <label for="">Order 10</label>
                <select class="form-control" name="OrderID10" value="">
                    <option value="" selected></option>
                    @foreach (var order in Model.OrderList)
                    {
                        <option value="@order.OrderID">@order.OrderID</option>
                    }
                </select>
            </div>
            <br />

            @*Order 11*@
            <div class="form-group">
                <label for="">Order 11</label>
                <select class="form-control" name="OrderID11" value="">
                    <option value="" selected></option>
                    @foreach (var order in Model.OrderList)
                    {
                        <option value="@order.OrderID">@order.OrderID</option>
                    }
                </select>
            </div>
            <br />

            @*Order 12*@
            <div class="form-group">
                <label for="">Order 12</label>
                <select class="form-control" name="OrderID12" value="">
                    <option value="" selected></option>
                    @foreach (var order in Model.OrderList)
                    {
                        <option value="@order.OrderID">@order.OrderID</option>
                    }
                </select>
            </div>
            <br />

            @*Order 13*@
            <div class="form-group">
                <label for="">Order 13</label>
                <select class="form-control" name="OrderID13" value="">
                    <option value="" selected></option>
                    @foreach (var order in Model.OrderList)
                    {
                        <option value="@order.OrderID">@order.OrderID</option>
                    }
                </select>
            </div>
            <br />

            @*Order 14*@
            <div class="form-group">
                <label for="">Order 14</label>
                <select class="form-control" name="OrderID14" value="">
                    <option value="" selected></option>
                    @foreach (var order in Model.OrderList)
                    {
                        <option value="@order.OrderID">@order.OrderID</option>
                    }
                </select>
            </div>
            <br />

            @*Order 15*@
            <div class="form-group">
                <label for="">Order 15</label>
                <select class="form-control" name="OrderID15" value="">
                    <option value="" selected></option>
                    @foreach (var order in Model.OrderList)
                    {
                        <option value="@order.OrderID">@order.OrderID</option>
                    }
                </select>
            </div>
            <br />

            @*Order 16*@
            <div class="form-group">
                <label for="">Order 16</label>
                <select class="form-control" name="OrderID16" value="">
                    <option value="" selected></option>
                    @foreach (var order in Model.OrderList)
                    {
                        <option value="@order.OrderID">@order.OrderID</option>
                    }
                </select>
            </div>
            <br />

            @*Order 17*@
            <div class="form-group">
                <label for="">Order 17</label>
                <select class="form-control" name="OrderID17" value="">
                    <option value="" selected></option>
                    @foreach (var order in Model.OrderList)
                    {
                        <option value="@order.OrderID">@order.OrderID</option>
                    }
                </select>
            </div>
            <br />

            @*Order 18*@
            <div class="form-group">
                <label for="">Order 18</label>
                <select class="form-control" name="OrderID18" value="">
                    <option value="" selected></option>
                    @foreach (var order in Model.OrderList)
                    {
                        <option value="@order.OrderID">@order.OrderID</option>
                    }
                </select>
            </div>
            <br />

            @*Order 19*@
            <div class="form-group">
                <label for="">Order 19</label>
                <select class="form-control" name="OrderID19" value="">
                    <option value="" selected></option>
                    @foreach (var order in Model.OrderList)
                    {
                        <option value="@order.OrderID">@order.OrderID</option>
                    }
                </select>
            </div>
            <br />

            @*Order 20*@
            <div class="form-group">
                <label for="">Order 20</label>
                <select class="form-control" name="OrderID20" value="">
                    <option value="" selected></option>
                    @foreach (var order in Model.OrderList)
                    {
                        <option value="@order.OrderID">@order.OrderID</option>
                    }
                </select>
            </div>
            <br />

            <a href="#" class="StandardButtonOutline" onclick="if(confirm('Are you sure you would like to create a new transaction?')) $(this).closest('form').submit();">Create Transaction</a>
        </form>
    </div>
}
<br />
<input type="button" class="StandardButtonOutline" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
