@model SalesTransaction

<h2>Setup New Customer - Step 1</h2>
<br />
@if (User.IsInRole("Guest"))
{
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-controller="SalesTransaction" asp-action="SetupNewCustomer2" method="post">

            <div class="form-group">
                <label for="">Server ID</label>
                <select class="form-control" name="EmployeeID" value="">
                    @foreach (var emp in Model.ServerList)
                    {
                        <option value="@emp.EmployeeID">@emp.EmployeeID<text>&emsp;&emsp;</text>@emp.FirstName<text>&nbsp;</text>@emp.LastName</option>
                    }
                </select>
            </div>
            <br />


            <input type="submit" value="Next" class="btn btn-primary" />
        </form>
    </div>
    <br />
    <input type="button" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
}

@if (User.IsInRole("Server") || User.IsInRole("Chef") || User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <input type="button" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
}
