@model SalesTransaction

<h2>Update Transaction #@Model.SalesTransactionID</h2>

 @if (User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-controller="SalesTransaction" asp-action="UpdateSalesTransactionToDatabase" method="post">
            <div class="form-group">
                <input asp-for="SalesTransactionID" type="hidden" class="form-control" />
                <span asp-validation-for="SalesTransactionID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SalesTransactionCompleted">Sales Transaction Completed (Check if applicable)</label>
                <input asp-for="SalesTransactionCompleted" type="checkbox" value="@Model.SalesTransactionCompleted" />
                <span asp-validation-for="SalesTransactionCompleted" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="AllYouCanEat">All You Can Eat (Check if applicable)</label>
                <input asp-for="AllYouCanEat" type="checkbox" value="@Model.AllYouCanEat" />
                <span asp-validation-for="AllYouCanEat" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="NumOfCustomersAdult">Number of Adults</label>
                <input asp-for="NumOfCustomersAdult" type="number" min="0" max="100" step="1" value="@Model.NumOfCustomersAdult" class="form-control" required/>
                <span asp-validation-for="NumOfCustomersAdult" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="NumOfCustomersChild">Number of Children</label>
                <input asp-for="NumOfCustomersChild" type="number" min="0" max="100" step="1" value="@Model.NumOfCustomersChild" class="form-control" required/>
                <span asp-validation-for="NumOfCustomersChild" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <input asp-for="SubTotalPreTax" type="hidden" class="form-control" />
                <span asp-validation-for="SubTotalPreTax" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="TaxAmount" type="hidden" class="form-control" />
                <span asp-validation-for="TaxAmount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="SubTotalAfterTax" type="hidden" class="form-control" />
                <span asp-validation-for="SubTotalAfterTax" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipAmount">Tip Amount</label>
                <input asp-for="TipAmount" value="@Model.TipAmount" />
                <span asp-validation-for="TipAmount" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <input asp-for="TaxRateFractionalEquivalent" type="hidden" class="form-control" />
                <span asp-validation-for="TaxRateFractionalEquivalent" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="FinalTransactionAmount" type="hidden" class="form-control" />
                <span asp-validation-for="FinalTransactionAmount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="">Payment Method</label>
                <select class="form-control" name="PaymentMethod" value="">
                    @foreach (var method in Model.PaymentMethodsList)
                    {
                        if (method.PaymentMethodCategoryName == Model.PaymentMethod)
                        {
                            <option value="@method.PaymentMethodCategoryName" selected>@method.PaymentMethodCategoryName</option>
                        }
                        else
                        {
                            <option value="@method.PaymentMethodCategoryName">@method.PaymentMethodCategoryName</option>
                        }
                    }
                </select>
            </div>
            <br />

            <div class="form-group">
                <input asp-for="PaymentMethodsList" type="hidden" class="form-control" />
                <span asp-validation-for="PaymentMethodsList" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="">Server ID</label>
                <select class="form-control" name="EmployeeID" value="">
                    @foreach (var emp in Model.ServerList)
                    {
                        if (emp.EmployeeID == Model.EmployeeID)
                        {
                            <option value="@emp.EmployeeID" selected>@emp.EmployeeID<text>&emsp;&emsp;</text>@emp.FirstName<text>&nbsp;</text>@emp.LastName</option>
                        }
                        else
                        {
                            <option value="@emp.EmployeeID">@emp.EmployeeID<text>&emsp;&emsp;</text>@emp.FirstName<text>&nbsp;</text>@emp.LastName</option>
                        }
                    }
                </select>
            </div>
            <br />

            <div class="form-group">
                <input asp-for="ServerList" type="hidden" class="form-control" />
                <span asp-validation-for="ServerList" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label for="">Table</label>
                <select class="form-control" name="RestaurantTableID" value="">
                    @foreach (var table in Model.RestaurantTableList)
                    {
                        if (table.RestaurantTableID == Model.RestaurantTableID)
                        {
                            <option value="@table.RestaurantTableID" selected>@table.RestaurantTableID</option>
                        }
                        else
                        {
                            <option value="@table.RestaurantTableID">@table.RestaurantTableID</option>
                        }
                    }
                </select>
            </div>
            <br />

            <div class="form-group">
                <input asp-for="RestaurantTableList" type="hidden" class="form-control" />
                <span asp-validation-for="PaymentMethodsList" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="OrderList" type="hidden" class="form-control" />
                <span asp-validation-for="OrderList" class="text-danger"></span>
            </div>

            @*Order 1*@
            <div class="form-group">
                <label for="">Order 1</label>
                <select class="form-control" name="OrderID1" value="">
                    @foreach (var order in Model.OrderList)
                    {
                        if (order.OrderID == Model.OrderID1)
                        {
                            <option value="@order.OrderID" selected>@order.OrderID</option>
                        }
                        else
                        {
                            <option value="@order.OrderID">@order.OrderID</option>
                        }

                    }
                </select>
            </div>
            <br />

            @*Order 2*@
            <div class="form-group">
                <label for="">Order 2</label>
                <select class="form-control" name="OrderID2" value="">
                    @if (Model.OrderID2 == 0)
                    {
                        <option value="" selected></option>
                    }
                    else
                    {
                        <option value=""></option>
                    }
                    @foreach (var order in Model.OrderList)
                    {
                        if (order.OrderID == Model.OrderID2)
                        {
                            <option value="@order.OrderID" selected>@order.OrderID</option>
                        }
                        else
                        {
                            <option value="@order.OrderID">@order.OrderID</option>
                        }

                    }
                </select>
            </div>
            <br />

            @*Order 3*@
            <div class="form-group">
                <label for="">Order 3</label>
                <select class="form-control" name="OrderID3" value="">
                    @if (Model.OrderID3 == 0)
                    {
                        <option value="" selected></option>
                    }
                    else
                    {
                        <option value=""></option>
                    }
                    @foreach (var order in Model.OrderList)
                    {
                        if (order.OrderID == Model.OrderID3)
                        {
                            <option value="@order.OrderID" selected>@order.OrderID</option>
                        }
                        else
                        {
                            <option value="@order.OrderID">@order.OrderID</option>
                        }

                    }
                </select>
            </div>
            <br />

            @*Order 4*@
            <div class="form-group">
                <label for="">Order 4</label>
                <select class="form-control" name="OrderID4" value="">
                    @if (Model.OrderID4 == 0)
                    {
                        <option value="" selected></option>
                    }
                    else
                    {
                        <option value=""></option>
                    }
                    @foreach (var order in Model.OrderList)
                    {
                        if (order.OrderID == Model.OrderID4)
                        {
                            <option value="@order.OrderID" selected>@order.OrderID</option>
                        }
                        else
                        {
                            <option value="@order.OrderID">@order.OrderID</option>
                        }

                    }
                </select>
            </div>
            <br />

            @*Order 5*@
            <div class="form-group">
                <label for="">Order 5</label>
                <select class="form-control" name="OrderID5" value="">
                    @if (Model.OrderID5 == 0)
                    {
                        <option value="" selected></option>
                    }
                    else
                    {
                        <option value=""></option>
                    }
                    @foreach (var order in Model.OrderList)
                    {
                        if (order.OrderID == Model.OrderID5)
                        {
                            <option value="@order.OrderID" selected>@order.OrderID</option>
                        }
                        else
                        {
                            <option value="@order.OrderID">@order.OrderID</option>
                        }

                    }
                </select>
            </div>
            <br />

            @*Order 6*@
            <div class="form-group">
                <label for="">Order 6</label>
                <select class="form-control" name="OrderID6" value="">
                    @if (Model.OrderID6 == 0)
                    {
                        <option value="" selected></option>
                    }
                    else
                    {
                        <option value=""></option>
                    }
                    @foreach (var order in Model.OrderList)
                    {
                        if (order.OrderID == Model.OrderID6)
                        {
                            <option value="@order.OrderID" selected>@order.OrderID</option>
                        }
                        else
                        {
                            <option value="@order.OrderID">@order.OrderID</option>
                        }

                    }
                </select>
            </div>
            <br />

            @*Order 7*@
            <div class="form-group">
                <label for="">Order 7</label>
                <select class="form-control" name="OrderID7" value="">
                    @if (Model.OrderID7 == 0)
                    {
                        <option value="" selected></option>
                    }
                    else
                    {
                        <option value=""></option>
                    }
                    @foreach (var order in Model.OrderList)
                    {
                        if (order.OrderID == Model.OrderID7)
                        {
                            <option value="@order.OrderID" selected>@order.OrderID</option>
                        }
                        else
                        {
                            <option value="@order.OrderID">@order.OrderID</option>
                        }

                    }
                </select>
            </div>
            <br />

            @*Order 8*@
            <div class="form-group">
                <label for="">Order 8</label>
                <select class="form-control" name="OrderID8" value="">
                    @if (Model.OrderID8 == 0)
                    {
                        <option value="" selected></option>
                    }
                    else
                    {
                        <option value=""></option>
                    }
                    @foreach (var order in Model.OrderList)
                    {
                        if (order.OrderID == Model.OrderID8)
                        {
                            <option value="@order.OrderID" selected>@order.OrderID</option>
                        }
                        else
                        {
                            <option value="@order.OrderID">@order.OrderID</option>
                        }

                    }
                </select>
            </div>
            <br />

            @*Order 9*@
            <div class="form-group">
                <label for="">Order 9</label>
                <select class="form-control" name="OrderID9" value="">
                    @if (Model.OrderID9 == 0)
                    {
                        <option value="" selected></option>
                    }
                    else
                    {
                        <option value=""></option>
                    }
                    @foreach (var order in Model.OrderList)
                    {
                        if (order.OrderID == Model.OrderID9)
                        {
                            <option value="@order.OrderID" selected>@order.OrderID</option>
                        }
                        else
                        {
                            <option value="@order.OrderID">@order.OrderID</option>
                        }

                    }
                </select>
            </div>
            <br />

            @*Order 10*@
            <div class="form-group">
                <label for="">Order 10</label>
                <select class="form-control" name="OrderID10" value="">
                    @if (Model.OrderID10 == 0)
                    {
                        <option value="" selected></option>
                    }
                    else
                    {
                        <option value=""></option>
                    }
                    @foreach (var order in Model.OrderList)
                    {
                        if (order.OrderID == Model.OrderID10)
                        {
                            <option value="@order.OrderID" selected>@order.OrderID</option>
                        }
                        else
                        {
                            <option value="@order.OrderID">@order.OrderID</option>
                        }

                    }
                </select>
            </div>
            <br />

            @*Order 11*@
            <div class="form-group">
                <label for="">Order 11</label>
                <select class="form-control" name="OrderID11" value="">
                    @if (Model.OrderID11 == 0)
                    {
                        <option value="" selected></option>
                    }
                    else
                    {
                        <option value=""></option>
                    }
                    @foreach (var order in Model.OrderList)
                    {
                        if (order.OrderID == Model.OrderID11)
                        {
                            <option value="@order.OrderID" selected>@order.OrderID</option>
                        }
                        else
                        {
                            <option value="@order.OrderID">@order.OrderID</option>
                        }

                    }
                </select>
            </div>
            <br />

            @*Order 12*@
            <div class="form-group">
                <label for="">Order 12</label>
                <select class="form-control" name="OrderID12" value="">
                    @if (Model.OrderID12 == 0)
                    {
                        <option value="" selected></option>
                    }
                    else
                    {
                        <option value=""></option>
                    }
                    @foreach (var order in Model.OrderList)
                    {
                        if (order.OrderID == Model.OrderID12)
                        {
                            <option value="@order.OrderID" selected>@order.OrderID</option>
                        }
                        else
                        {
                            <option value="@order.OrderID">@order.OrderID</option>
                        }

                    }
                </select>
            </div>
            <br />

            @*Order 13*@
            <div class="form-group">
                <label for="">Order 13</label>
                <select class="form-control" name="OrderID13" value="">
                    @if (Model.OrderID13 == 0)
                    {
                        <option value="" selected></option>
                    }
                    else
                    {
                        <option value=""></option>
                    }
                    @foreach (var order in Model.OrderList)
                    {
                        if (order.OrderID == Model.OrderID13)
                        {
                            <option value="@order.OrderID" selected>@order.OrderID</option>
                        }
                        else
                        {
                            <option value="@order.OrderID">@order.OrderID</option>
                        }

                    }
                </select>
            </div>
            <br />

            @*Order 14*@
            <div class="form-group">
                <label for="">Order 14</label>
                <select class="form-control" name="OrderID14" value="">
                    @if (Model.OrderID14 == 0)
                    {
                        <option value="" selected></option>
                    }
                    else
                    {
                        <option value=""></option>
                    }
                    @foreach (var order in Model.OrderList)
                    {
                        if (order.OrderID == Model.OrderID14)
                        {
                            <option value="@order.OrderID" selected>@order.OrderID</option>
                        }
                        else
                        {
                            <option value="@order.OrderID">@order.OrderID</option>
                        }

                    }
                </select>
            </div>
            <br />

            @*Order 15*@
            <div class="form-group">
                <label for="">Order 15</label>
                <select class="form-control" name="OrderID15" value="">
                    @if (Model.OrderID15 == 0)
                    {
                        <option value="" selected></option>
                    }
                    else
                    {
                        <option value=""></option>
                    }
                    @foreach (var order in Model.OrderList)
                    {
                        if (order.OrderID == Model.OrderID15)
                        {
                            <option value="@order.OrderID" selected>@order.OrderID</option>
                        }
                        else
                        {
                            <option value="@order.OrderID">@order.OrderID</option>
                        }

                    }
                </select>
            </div>
            <br />

            @*Order 16*@
            <div class="form-group">
                <label for="">Order 16</label>
                <select class="form-control" name="OrderID16" value="">
                    @if (Model.OrderID16 == 0)
                    {
                        <option value="" selected></option>
                    }
                    else
                    {
                        <option value=""></option>
                    }
                    @foreach (var order in Model.OrderList)
                    {
                        if (order.OrderID == Model.OrderID16)
                        {
                            <option value="@order.OrderID" selected>@order.OrderID</option>
                        }
                        else
                        {
                            <option value="@order.OrderID">@order.OrderID</option>
                        }

                    }
                </select>
            </div>
            <br />


            @*Order 17*@
            <div class="form-group">
                <label for="">Order 17</label>
                <select class="form-control" name="OrderID17" value="">
                    @if (Model.OrderID17 == 0)
                    {
                        <option value="" selected></option>
                    }
                    else
                    {
                        <option value=""></option>
                    }
                    @foreach (var order in Model.OrderList)
                    {
                        if (order.OrderID == Model.OrderID17)
                        {
                            <option value="@order.OrderID" selected>@order.OrderID</option>
                        }
                        else
                        {
                            <option value="@order.OrderID">@order.OrderID</option>
                        }

                    }
                </select>
            </div>
            <br />

            @*Order 18*@
            <div class="form-group">
                <label for="">Order 18</label>
                <select class="form-control" name="OrderID18" value="">
                    @if (Model.OrderID18 == 0)
                    {
                        <option value="" selected></option>
                    }
                    else
                    {
                        <option value=""></option>
                    }
                    @foreach (var order in Model.OrderList)
                    {
                        if (order.OrderID == Model.OrderID18)
                        {
                            <option value="@order.OrderID" selected>@order.OrderID</option>
                        }
                        else
                        {
                            <option value="@order.OrderID">@order.OrderID</option>
                        }

                    }
                </select>
            </div>
            <br />

            @*Order 19*@
            <div class="form-group">
                <label for="">Order 19</label>
                <select class="form-control" name="OrderID19" value="">
                    @if (Model.OrderID19 == 0)
                    {
                        <option value="" selected></option>
                    }
                    else
                    {
                        <option value=""></option>
                    }
                    @foreach (var order in Model.OrderList)
                    {
                        if (order.OrderID == Model.OrderID19)
                        {
                            <option value="@order.OrderID" selected>@order.OrderID</option>
                        }
                        else
                        {
                            <option value="@order.OrderID">@order.OrderID</option>
                        }

                    }
                </select>
            </div>
            <br />

            @*Order 20*@
            <div class="form-group">
                <label for="">Order 20</label>
                <select class="form-control" name="OrderID20" value="">
                    @if (Model.OrderID20 == 0)
                    {
                        <option value="" selected></option>
                    }
                    else
                    {
                        <option value=""></option>
                    }
                    @foreach (var order in Model.OrderList)
                    {
                        if (order.OrderID == Model.OrderID20)
                        {
                            <option value="@order.OrderID" selected>@order.OrderID</option>
                        }
                        else
                        {
                            <option value="@order.OrderID">@order.OrderID</option>
                        }

                    }
                </select>
            </div>
            <br />

            <a href="#" onclick="if(confirm('Are you sure you would like to update this transaction?')) $(this).closest('form').submit();">Update Transaction</a>
        </form>
    </div>
}
@if (User.IsInRole("Server") || User.IsInRole("Chef") || User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <input type="button" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
}
