@model SalesTransaction

<h2>Transaction #@Model.SalesTransactionID Details</h2>
<hr />
<table class="table">
    <tr>
        <th>Transaction Completed</th>
        <th>Transaction Total</th>
        <th>Date &amp; Time</th>
        @if (User.IsInRole("Server") || User.IsInRole("Chef") || User.IsInRole("Manager") || User.IsInRole("Owner"))
        {
            <th>Server</th>
        }
        <th>Table</th>

    </tr>
    <tr>
        <td>@Model.SalesTransactionCompleted</td>
        <td>@Model.FinalTransactionAmount</td>
        <td>@Model.FinalTransactionDateAndTime</td>
        @if (User.IsInRole("Server") || User.IsInRole("Chef") || User.IsInRole("Manager") || User.IsInRole("Owner"))
        {
            <td>@Model.EmployeeID</td>
        }
        <td>@Model.RestaurantTableID</td>
    </tr>
</table>
<br />

<table class="table">
    <tr>
        <th>Order Number</th>
        <th>Order Price</th>
    </tr>
    <tr>
        <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { orderID = Model.OrderID1 })>@Model.OrderID1</a></td>
        <td>@Model.OrderPrice1</td>
    </tr>
    @if (Model.OrderPrice2 != 0)
    {
        <tr>
            <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { orderID = Model.OrderID2 })>@Model.OrderID2</a></td>
            @*<td>@Model.OrderID2</td>*@
            <td>@Model.OrderPrice2</td>
        </tr>
    }
    @if (Model.OrderPrice3 != 0)
    {
        <tr>
            <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { orderID = Model.OrderID3 })>@Model.OrderID3</a></td>
            @*<td>@Model.OrderID2</td>*@
            <td>@Model.OrderPrice3</td>
        </tr>
    }
    @if (Model.OrderPrice4 != 0)
    {
        <tr>
            <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { orderID = Model.OrderID4 })>@Model.OrderID4</a></td>
            @*<td>@Model.OrderID2</td>*@
            <td>@Model.OrderPrice4</td>
        </tr>
    }
    @if (Model.OrderPrice5 != 0)
    {
        <tr>
            <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { orderID = Model.OrderID5 })>@Model.OrderID5</a></td>
            @*<td>@Model.OrderID2</td>*@
            <td>@Model.OrderPrice5</td>
        </tr>
    }
     @if (Model.OrderPrice6 != 0)
    {
        <tr>
            <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { orderID = Model.OrderID6 })>@Model.OrderID6</a></td>
            @*<td>@Model.OrderID2</td>*@
            <td>@Model.OrderPrice6</td>
        </tr>
    }
    @if (Model.OrderPrice7 != 0)
    {
        <tr>
            <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { orderID = Model.OrderID7 })>@Model.OrderID7</a></td>
            @*<td>@Model.OrderID2</td>*@
            <td>@Model.OrderPrice7</td>
        </tr>
    }
    @if (Model.OrderPrice8 != 0)
    {
        <tr>
            <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { orderID = Model.OrderID8 })>@Model.OrderID8</a></td>
            @*<td>@Model.OrderID2</td>*@
            <td>@Model.OrderPrice8</td>
        </tr>
    }
    @if (Model.OrderPrice9 != 0)
    {
        <tr>
            <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { orderID = Model.OrderID9 })>@Model.OrderID9</a></td>
            @*<td>@Model.OrderID2</td>*@
            <td>@Model.OrderPrice9</td>
        </tr>
    }
     @if (Model.OrderPrice10 != 0)
    {
        <tr>
            <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { orderID = Model.OrderID10 })>@Model.OrderID10</a></td>
            @*<td>@Model.OrderID2</td>*@
            <td>@Model.OrderPrice10</td>
        </tr>
    }
     @if (Model.OrderPrice11 != 0)
    {
        <tr>
            <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { orderID = Model.OrderID11 })>@Model.OrderID11</a></td>
            @*<td>@Model.OrderID2</td>*@
            <td>@Model.OrderPrice11</td>
        </tr>
    }
     @if (Model.OrderPrice12 != 0)
    {
        <tr>
            <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { orderID = Model.OrderID12 })>@Model.OrderID12</a></td>
            @*<td>@Model.OrderID2</td>*@
            <td>@Model.OrderPrice12</td>
        </tr>
    }
     @if (Model.OrderPrice13 != 0)
    {
        <tr>
            <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { orderID = Model.OrderID13 })>@Model.OrderID13</a></td>
            @*<td>@Model.OrderID2</td>*@
            <td>@Model.OrderPrice13</td>
        </tr>
    }
     @if (Model.OrderPrice14 != 0)
    {
        <tr>
            <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { orderID = Model.OrderID14 })>@Model.OrderID14</a></td>
            @*<td>@Model.OrderID2</td>*@
            <td>@Model.OrderPrice14</td>
        </tr>
    }
     @if (Model.OrderPrice15 != 0)
    {
        <tr>
            <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { orderID = Model.OrderID15 })>@Model.OrderID15</a></td>
            @*<td>@Model.OrderID2</td>*@
            <td>@Model.OrderPrice15</td>
        </tr>
    }
     @if (Model.OrderPrice16 != 0)
    {
        <tr>
            <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { orderID = Model.OrderID16 })>@Model.OrderID16</a></td>
            @*<td>@Model.OrderID2</td>*@
            <td>@Model.OrderPrice16</td>
        </tr>
    }
     @if (Model.OrderPrice17 != 0)
    {
        <tr>
            <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { orderID = Model.OrderID17 })>@Model.OrderID17</a></td>
            @*<td>@Model.OrderID2</td>*@
            <td>@Model.OrderPrice17</td>
        </tr>
    }
     @if (Model.OrderPrice18 != 0)
    {
        <tr>
            <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { orderID = Model.OrderID18 })>@Model.OrderID18</a></td>
            @*<td>@Model.OrderID2</td>*@
            <td>@Model.OrderPrice18</td>
        </tr>
    }
     @if (Model.OrderPrice19 != 0)
    {
        <tr>
            <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { orderID = Model.OrderID19 })>@Model.OrderID19</a></td>
            @*<td>@Model.OrderID2</td>*@
            <td>@Model.OrderPrice19</td>
        </tr>
    }
    @if (Model.OrderPrice20 != 0)
    {
        <tr>
            <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { orderID = Model.OrderID20 })>@Model.OrderID20</a></td>
            @*<td>@Model.OrderID2</td>*@
            <td>@Model.OrderPrice20</td>
        </tr>
    }
</table>
<br />


@if (User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <div style="display: block">
        <a href="/SalesTransaction/UpdateSalesTransaction/@Model.SalesTransactionID">Edit Sales Transaction</a>
    </div>
    <br />
    <br />
}

@if (User.IsInRole("Server") || User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <div style="display: block">

        @using (Html.BeginForm("CompleteSalesTransaction", "SalesTransaction", "Post"))
        {
            <input type="hidden" asp-for="SalesTransactionID" value="@Model.SalesTransactionID" />
            <input type="submit" onclick="return confirm('Are you sure you would like to mark this transaction as completed?')" value="Mark Transaction as Complete" />
        }
    </div>
    <br />
    <br />
}

@if (User.IsInRole("Owner"))
{
    <div style="display: block">

        @using (Html.BeginForm("DeleteSalesTransaction", "SalesTransaction", "Post"))
        {
            <input type="hidden" asp-for="SalesTransactionID" value="@Model.SalesTransactionID" />
            <input type="submit" onclick="return confirm('Are you sure you would like to delete this transaction?')" value="Delete Transaction" />
        }
    </div>
}

