@model IEnumerable<FoodBevOrder>

<h2>Food and Beverage Orders</h2>
<br />

@if (User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <div style="display: block">
        <a href="/FoodBevOrder/InsertFoodBevOrder/">Create New Order</a>
    </div>
    <br />
}

@if (User.IsInRole("Server") || User.IsInRole("Chef") || User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <table class="table">
        <tr>
            <th>Order ID</th>
            <th>Order Fulfilled</th>
            <th>Employee ID</th>
            <th>Table ID</th>
            <th>Order Placed</th>
            <th>Order Sale Amount</th>
        </tr>

        @foreach (var order in @Model)
        {
            <tr>
                <td><a href=@Url.Action("ViewFoodBevOrder", "FoodBevOrder", new { OrderID = order.OrderID })>@order.OrderID</a></td>
                @if (order.OrderFulfilled == true)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
                <td>@order.EmployeeID</td>
                <td>@order.TableID</td>
                <td>@order.DateAndTime</td>
                <td>@order.OrderSaleAmount</td>
            </tr>
        }
    </table>
}
<br />
<input type="button" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />