@model FoodBevOrder

<h3>Order @Model.OrderID Information</h3>
<br />

<table class="table">
    <tr>
        <th>Order ID</th>
        <th>Order Fulfilled</th>
        @if (User.IsInRole("Server") || User.IsInRole("Chef") || User.IsInRole("Manager") || User.IsInRole("Owner"))
        {
            <th>Server</th>
        }
        <th>Table ID</th>
        <th>Order Placed</th>
        <th>Order Sale Amount</th>
    </tr>
    <tr>
        <td>@Model.OrderID</td>
        <td>@Model.OrderFulfilled</td>
        @if (User.IsInRole("Server") || User.IsInRole("Chef") || User.IsInRole("Manager") || User.IsInRole("Owner"))
        {
            <td>@Model.EmployeeID</td>
        }
        <td>@Model.TableID</td>
        <td>@Model.DateAndTime</td>
        <td>@Model.OrderSaleAmount</td>
    </tr>
</table>
<br />

<table class="table">
    <tr>
        <th>Menu Item</th>
        <th>Quantity Ordered</th>
        <th>Price Per Item</th>
    </tr>
    <tr>
        <td>@Model.MenuItemName1</td>
        <td>@Model.QuantityItem1</td>
        <td>@Model.PriceItem1</td>
    </tr>
    @if(Model.QuantityItem2 != 0)
    {
        <tr>
            <td>@Model.MenuItemName2</td>
            <td>@Model.QuantityItem2</td>
            <td>@Model.PriceItem2</td>
        </tr>
    }
    @if (Model.QuantityItem3 != 0)
    {
        <tr>
            <td>@Model.MenuItemName3</td>
            <td>@Model.QuantityItem3</td>
            <td>@Model.PriceItem3</td>
        </tr>
    }
    @if (Model.QuantityItem4 != 0)
    {
        <tr>
            <td>@Model.MenuItemName4</td>
            <td>@Model.QuantityItem4</td>
            <td>@Model.PriceItem4</td>
        </tr>
    }
</table>
<br />


@if (User.IsInRole("Server") || User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <div style="display: block">
        <a href="/FoodBevOrder/UpdateFoodBevOrder/@Model.OrderID">Update Order</a>
    </div>
    <br />
}

@if (User.IsInRole("Chef") || User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <div style="display: block">

        @using (Html.BeginForm("FulfillFoodBevOrder", "FoodBevOrder", "Post"))
        {
            <input type="hidden" asp-for="OrderID" value="@Model.OrderID" />
            <input type="submit" onclick="return confirm('Are you sure you would like to mark this order as fulfilled?')" value="Mark Order As Fulfilled" />
        }
    </div>
    <br />
}

@if (User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <div style="display: block">

        @using (Html.BeginForm("DeleteFoodBevOrder", "FoodBevOrder", "Post"))
        {
            <input type="hidden" asp-for="OrderID" value="@Model.OrderID" />
            <input type="submit" onclick="return confirm('Are you sure you would like to delete this order?')" value="Delete Order" />
        }
    </div>
    <br />
}

<input type="button" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />