@model MenuItem

<link rel="stylesheet" href="~/css/ValidateInputStyleSheet.css" asp-append-version="true" />

<h2>Create New Menu Item</h2>
<hr />
@if (User.IsInRole("Owner"))
{
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-controller="MenuItem" asp-action="InsertMenuItemToDatabase" method="post">
            <div class="form-group">
                <label asp-for="MenuItemName" class="col-md-2">Menu Item Name</label>
                <input asp-for="MenuItemName" class="form-control" required />
                <span asp-validation-for="MenuItemName" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="MenuItemPrice" class="col-md-2">Menu Item Price</label>
                <input asp-for="MenuItemPrice" type="number" max="99.99" min="00.01" step="0.01" class="form-control" required />
                <span asp-validation-for="MenuItemPrice" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label for="">Menu Item Category</label>
                <select class="form-control" name="MenuItemCategory" value="">
                    @foreach (var cat in Model.MenuItemCategories)
                    {
                        <option value="@cat.MenuCategoryName">@cat.MenuCategoryName</option>
                    }
                </select>
            </div>
            <br />

            @*Ingredient 1*@
            <div class="form-group">
                <label for="">Menu Item Ingredient 1</label>
                <select class="form-control" name="MenuItemIngredientName1" value="">
                    @foreach (var cat in Model.MenuItemIngredientList)
                    {
                        <option value="@cat.IngredientName">@cat.IngredientName</option>
                    }
                </select>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="MenuItemIngredientQuantity1" class="col-md-2">Menu Ingredient 1 Quantity</label>
                <input asp-for="MenuItemIngredientQuantity1" type="number" min="0" step="1" max="2147483646" class="form-control" required />
                <span asp-validation-for="MenuItemIngredientQuantity1" class="text-danger"></span>
            </div>
            <br />


            @*Ingredient 2*@
            <div class="form-group">
                <label for="">Menu Item Ingredient 2</label>
                <select class="form-control" name="MenuItemIngredientName2" value="">
                    <option value="Default-NoIngredient">Default - Leave If Not Applicable</option>
                    @foreach (var cat in Model.MenuItemIngredientList)
                    {
                        <option value="@cat.IngredientName">@cat.IngredientName</option>
                    }
                </select>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="MenuItemIngredientQuantity2" class="col-md-2">Menu Ingredient 2 Quantity</label>
                <input asp-for="MenuItemIngredientQuantity2" type="number" min="0" step="1" max="2147483646" class="form-control" />
            </div>
            <br />


            @*Ingredient 3*@
            <div class="form-group">
                <label for="">Menu Item Ingredient 3</label>
                <select class="form-control" name="MenuItemIngredientName3" value="">
                    <option value="Default-NoIngredient">Default - Leave If Not Applicable</option>
                    @foreach (var cat in Model.MenuItemIngredientList)
                    {
                        <option value="@cat.IngredientName">@cat.IngredientName</option>
                    }
                </select>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="MenuItemIngredientQuantity3" class="col-md-2">Menu Ingredient 3 Quantity</label>
                <input asp-for="MenuItemIngredientQuantity3" type="number" min="0" step="1" max="2147483646" class="form-control" />
            </div>
            <br />


            @*Ingredient 4*@
            <div class="form-group">
                <label for="">Menu Item Ingredient 4</label>
                <select class="form-control" name="MenuItemIngredientName4" value="">
                    <option value="Default-NoIngredient">Default - Leave If Not Applicable</option>
                    @foreach (var cat in Model.MenuItemIngredientList)
                    {
                        <option value="@cat.IngredientName">@cat.IngredientName</option>
                    }
                </select>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="MenuItemIngredientQuantity4" class="col-md-2">Menu Ingredient 4 Quantity</label>
                <input asp-for="MenuItemIngredientQuantity4" type="number" min="0" step="1" max="2147483646" class="form-control" />
            </div>
            <br />


            @*Ingredient 5*@
            <div class="form-group">
                <label for="">Menu Item Ingredient 5</label>
                <select class="form-control" name="MenuItemIngredientName5" value="">
                    <option value="Default-NoIngredient">Default - Leave If Not Applicable</option>
                    @foreach (var cat in Model.MenuItemIngredientList)
                    {
                        <option value="@cat.IngredientName">@cat.IngredientName</option>
                    }
                </select>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="MenuItemIngredientQuantity5" class="col-md-2">Menu Ingredient 5 Quantity</label>
                <input asp-for="MenuItemIngredientQuantity5" type="number" min="0" step="1" max="2147483646" class="form-control" />
            </div>
            <br />


            @*Ingredient 6*@
            <div class="form-group">
                <label for="">Menu Item Ingredient 6</label>
                <select class="form-control" name="MenuItemIngredientName6" value="">
                    <option value="Default-NoIngredient">Default - Leave If Not Applicable</option>
                    @foreach (var cat in Model.MenuItemIngredientList)
                    {
                        <option value="@cat.IngredientName">@cat.IngredientName</option>
                    }
                </select>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="MenuItemIngredientQuantity6" class="col-md-2">Menu Ingredient 6 Quantity</label>
                <input asp-for="MenuItemIngredientQuantity6" type="number" min="0" step="1" max="2147483646" class="form-control" />
            </div>
            <br />


            @*Ingredient 7*@
            <div class="form-group">
                <label for="">Menu Item Ingredient 7</label>
                <select class="form-control" name="MenuItemIngredientName7" value="">
                    <option value="Default-NoIngredient">Default - Leave If Not Applicable</option>
                    @foreach (var cat in Model.MenuItemIngredientList)
                    {
                        <option value="@cat.IngredientName">@cat.IngredientName</option>
                    }
                </select>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="MenuItemIngredientQuantity7" class="col-md-2">Menu Ingredient 7 Quantity</label>
                <input asp-for="MenuItemIngredientQuantity7" type="number" min="0" step="1" max="2147483646" class="form-control" />
            </div>
            <br />


            @*Ingredient 8*@
            <div class="form-group">
                <label for="">Menu Item Ingredient 8</label>
                <select class="form-control" name="MenuItemIngredientName8" value="">
                    <option value="Default-NoIngredient">Default - Leave If Not Applicable</option>
                    @foreach (var cat in Model.MenuItemIngredientList)
                    {
                        <option value="@cat.IngredientName">@cat.IngredientName</option>
                    }
                </select>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="MenuItemIngredientQuantity8" class="col-md-2">Menu Ingredient 8 Quantity</label>
                <input asp-for="MenuItemIngredientQuantity8" type="number" min="0" step="1" max="2147483646" class="form-control" />
            </div>
            <br />


            @*Ingredient 9*@
            <div class="form-group">
                <label for="">Menu Item Ingredient 9</label>
                <select class="form-control" name="MenuItemIngredientName9" value="">
                    <option value="Default-NoIngredient">Default - Leave If Not Applicable</option>
                    @foreach (var cat in Model.MenuItemIngredientList)
                    {
                        <option value="@cat.IngredientName">@cat.IngredientName</option>
                    }
                </select>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="MenuItemIngredientQuantity9" class="col-md-2">Menu Ingredient 9 Quantity</label>
                <input asp-for="MenuItemIngredientQuantity9" type="number" min="0" step="1" max="2147483646" class="form-control" />
            </div>
            <br />


            @*Ingredient 10*@
            <div class="form-group">
                <label for="">Menu Item Ingredient 10</label>
                <select class="form-control" name="MenuItemIngredientName10" value="">
                    <option value="Default-NoIngredient">Default - Leave If Not Applicable</option>
                    @foreach (var cat in Model.MenuItemIngredientList)
                    {
                        <option value="@cat.IngredientName">@cat.IngredientName</option>
                    }
                </select>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="MenuItemIngredientQuantity10" class="col-md-2">Menu Ingredient 10 Quantity</label>
                <input asp-for="MenuItemIngredientQuantity10" type="number" min="0" step="1" max="2147483646" class="form-control" />
            </div>
            <br />

            <a class="btn btn-primary" href="#" onclick="if(confirm('Are you sure you would like to create this menu item?')) $(this).closest('form').submit();">Create Menu Item</a>
        </form>
    </div>
}
<br />
<input type="button" class="StandardButtonOutline" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
