@model MenuItem

<h3>@Model.MenuItemName Information</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category ID</th>
    </tr>
    <tr>
        <td>@Model.MenuItemID</td>
        <td>@Model.MenuItemName</td>
        <td>@Model.MenuItemPrice</td>
        <td>@Model.MenuItemCategory</td>
    </tr>
</table>
<br/>

<div style="display: block">
    <a href="/MenuItem/UpdateMenuItem/@Model.MenuItemID">Update This Product</a>
</div>
<br/>

<div style="display: block">

    @using (Html.BeginForm("DeleteMenuItem", "MenuItem", "Post"))
    {
        <input type="hidden" asp-for="MenuItemID" value="@Model.MenuItemID" />
        <input type="submit" onclick="return confirm('Are you sure you would like to delete this menu item?')" value="Delete this product" />
    }
</div>
