@model RestaurantTable

<h2>Table @Model.RestaurantTableID Assignment</h2>

<div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-controller="RestaurantTable" asp-action="UpdateRestaurantTableToDatabase" method="post">

        <div class="form-group">
            <label asp-for="RestaurantTableID" class="col-md-2"></label>
            <input asp-for="RestaurantTableID" type="hidden" class="form-control" />
            <span asp-validation-for="RestaurantTableID" class="text-danger"></span>
        </div>
        <br />

        <div class="form-group">
            <label for="RestaurantTableAssignedEmployeeID">Assigned Server</label>
            <select class="form-control" name="RestaurantTableAssignedEmployeeID" value="">

                @foreach (var cat in Model.ServerList)
                {
                    if (cat.EmployeeID == Model.RestaurantTableAssignedEmployeeID)
                    {
                        <option value="@cat.EmployeeID" selected>Employee ID: @cat.EmployeeID; Name: @cat.FirstName @cat.LastName</option> @*Sets default value = existing value*@
                    }
                    else
                    {
                        <option value="@cat.EmployeeID">Employee ID: @cat.EmployeeID;       Name: @cat.FirstName @cat.LastName</option>
                    }
                }
                <option value="Unassign">Unassign - Select if table is open</option>
            </select>
        </div>
        <br />


        <input type="submit" value="Update Table Assignment" class="btn btn-primary" />
    </form>
</div>

