@model RestaurantTable

<h2>Table @Model.RestaurantTableID</h2>
<hr />
@if (User.IsInRole("Server") || User.IsInRole("Chef") || User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <table class="table">
        <tr>
            <th>Table Number</th>
            <th>Assigned Server Name</th>
        </tr>

        <tr>
            <td>@Model.RestaurantTableID</td>
            <td>
                @if (Model.RestaurantTableAssignedEmployeeFirstName != null)
                {
                    @Model.RestaurantTableAssignedEmployeeFirstName <text>&nbsp;</text> @Model.RestaurantTableAssignedEmployeeLastName
                }
                else
                {
                    <text>Unassigned</text>
                }
            </td>
        </tr>

    </table>
    <br />
}

@if (User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <div style="display: block">
        <a href=@Url.Action("UpdateRestaurantTable", "RestaurantTable", new { RestaurantTableID = Model.RestaurantTableID }) class="StandardButtonOutline">
            <button>Update Table Assignment</button></a>
    </div>
    <br />
}


@if (User.IsInRole("Owner"))
{
    <div style="display: block">

        @using (Html.BeginForm("DeleteRestaurantTable", "RestaurantTable", "Post"))
        {
            <input type="hidden" asp-for="RestaurantTableID" value="@Model.RestaurantTableID" />
            <input type="submit" class="StandardButtonOutline" onclick="return confirm('Are you sure you would like to delete this table?')" value="Delete Table" />
        }
    </div>
    <br />
}

<input type="button" class="StandardButtonOutline" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
