@model ClockInOut

<h2>Successfully Clocked-In/Out</h2>
<hr />
@if (User.IsInRole("Server") || User.IsInRole("Chef") || User.IsInRole("Manager"))
{
     <table class="table">
        <tr>
            <th>In Or Out</th>
            <th>EmployeeID</th>
            <th>Date And Time</th>
        </tr>
        @foreach (var hist in Model.ClockInOutHistory)
        {
            <tr>
                <td>@hist.InOrOut</td>
                <td>@hist.EmployeeID</td>
                <td>@hist.DateAndTime</td>
            </tr>
        }
    </table>
    <br />
}

<input type="button" class="StandardButtonOutline" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
