@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jack's Sushi Project</h1>
    @if (User.IsInRole("Guest"))
    {
        <picture>
        <img src="/Images/SushiGuest.jpg" alt="My logo">
        </picture>
        <br />
        <br />
        <div class="main-page-guest">

            <input type="button" value="Setup New Customer" onclick="@("window.location.href='" + @Url.Action("SetupNewCustomer1", "SalesTransaction") + "'");" />

            @*<button type="button">Chef</button>*@
        
            @*How to create a button that will go to a different webpage*@
            @* <button onclick="openTab()">Educative</button>

            <script>
                function openTab() {
                    window.open("https://www.educative.io/", "_blank");
                }
            </script>*@

        </div>
    }
    @if (User.IsInRole("Server"))
    {
        <picture>
            <img src="/Images/SushiServer.jpg" alt="My logo">
        </picture>
        <br />
        <br />
        <div class="main-page-buttons">
            <input type="button" value="Tables" onclick="@("window.location.href='" + @Url.Action("Index", "RestaurantTable") + "'");" />
            <input type="button" value="My Open Orders" onclick="@("window.location.href='" + @Url.Action("Index", "FoodBevOrders") + "'");" />
            <input type="button" value="Clock-In" onclick="@("window.location.href='" + @Url.Action("ClockIn", "Admin") + "'");" />
            <input type="button" value="Clock-Out" onclick="@("window.location.href='" + @Url.Action("ClockOut", "Admin") + "'");" />
        </div>
    }
    @if (User.IsInRole("Chef"))
    {
        <picture>
            <img src="/Images/SushiChef.jpg" alt="My logo">
        </picture>
        <br />
        <br />
        <div class="main-page-buttons">
            <input type="button" value="View All Orders" onclick="@("window.location.href='" + @Url.Action("Index", "FoodBevOrder") + "'");" />
            <input type="button" value="View Open Orders" onclick="@("window.location.href='" + @Url.Action("ViewOpenFoodBevOrders", "FoodBevOrder") + "'");" />
            <input type="button" value="Ingredients - Stock Level" onclick="@("window.location.href='" + @Url.Action("Index", "FoodBevIngredient") + "'");" />
            <input type="button" value="Clock-In" onclick="@("window.location.href='" + @Url.Action("ClockIn", "Admin") + "'");" />
            <input type="button" value="Clock-Out" onclick="@("window.location.href='" + @Url.Action("ClockOut", "Admin") + "'");" />
        </div>
    }
    @if (User.IsInRole("Manager"))
    {
        <picture>
            <img src="/Images/SushiManager.jpg" alt="My logo">
        </picture>
        <br />
        <br />
        <div class="main-page-buttons">
            <input type="button" value="Tables" onclick="@("window.location.href='" + @Url.Action("Index", "RestaurantTable") + "'");" />
            <input type="button" value="Orders" onclick="@("window.location.href='" + @Url.Action("Index", "FoodBevOrder") + "'");" />
            <input type="button" value="Transactions" onclick="@("window.location.href='" + @Url.Action("Index", "SalesTransaction") + "'");" />
            <input type="button" value="Menu Items" onclick="@("window.location.href='" + @Url.Action("Index", "MenuItem") + "'");" />
            <input type="button" value="Ingredients" onclick="@("window.location.href='" + @Url.Action("Index", "FoodBevIngredient") + "'");" />
            <input type="button" value="Reset All Inventory Levels" onclick="@("window.location.href='" + @Url.Action("ResetAllIngredientsToBaseLevel", "FoodBevIngredient") + "'");" />
            <input type="button" value="View Clocked-In / Out Staff" onclick="@("window.location.href='" + @Url.Action("ViewClockedInOutStaff", "Admin") + "'");" />
            <input type="button" value="Clock-In" onclick="@("window.location.href='" + @Url.Action("ClockIn", "Admin") + "'");" />
            <input type="button" value="Clock-Out" onclick="@("window.location.href='" + @Url.Action("ClockOut", "Admin") + "'");" />
            <input type="button" value="View Debit/Credit History" onclick="@("window.location.href='" + @Url.Action("ViewAllDebitCreditHistory", "Admin") + "'");" />
        </div>
    }
    @if (User.IsInRole("Owner"))
    {
        <picture>
            <img src="/Images/SushiOwner.jpg" alt="My logo">
        </picture>
        <br />
        <br />
        <div class="main-page-buttons">
            <input type="button" value="Tables" onclick="@("window.location.href='" + @Url.Action("Index", "RestaurantTable") + "'");" />
            <input type="button" value="Orders" onclick="@("window.location.href='" + @Url.Action("Index", "FoodBevOrder") + "'");" />
            <input type="button" value="Transactions" onclick="@("window.location.href='" + @Url.Action("Index", "SalesTransaction") + "'");" />
            <input type="button" value="Menu Items" onclick="@("window.location.href='" + @Url.Action("Index", "MenuItem") + "'");" />
            <input type="button" value="Ingredients" onclick="@("window.location.href='" + @Url.Action("Index", "FoodBevIngredient") + "'");" />
            <input type="button" value="Reset All Inventory Levels" onclick="@("window.location.href='" + @Url.Action("ResetAllIngredientsToBaseLevel", "FoodBevIngredient") + "'");" />
            <input type="button" value="View Clocked-In / Out Staff" onclick="@("window.location.href='" + @Url.Action("ViewClockedInOutStaff", "Admin") + "'");" />
            <button type="button">Edit Employee Info</button>
            <button type="button">Create New Employee Account</button>
            <input type="button" value="Change Tax Rate" onclick="@("window.location.href='" + @Url.Action("ChangeTaxRate", "Admin") + "'");" />
            <input type="button" value="Change All You Can Eat Rate - Adult" onclick="@("window.location.href='" + @Url.Action("ChangeAllYouCanEatRateAdult", "Admin") + "'");" />
            <input type="button" value="Change All You Can Eat Rate - Child" onclick="@("window.location.href='" + @Url.Action("ChangeAllYouCanEatRateChild", "Admin") + "'");" />
            <input type="button" value="Change Customer Logout Password" onclick="@("window.location.href='" + @Url.Action("ChangeCustomerLogoutPassword", "Admin") + "'");" />
            <input type="button" value="Payment Methods" onclick="@("window.location.href='" + @Url.Action("ViewAllPaymentMethods", "Admin") + "'");" />
            <input type="button" value="View Debit/Credit History" onclick="@("window.location.href='" + @Url.Action("ViewAllDebitCreditHistory", "Admin") + "'");" />
        </div>
    }
</div>