@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jack's Sushi Project</h1>
    @if (User.IsInRole("Guest"))
    {
        <picture>
        <img src="/Images/SushiGuest.jpg" alt="My logo">
        </picture>
        <br />
        <br />
        <div class="main-page-guest">

            <input type="button" value="Setup New Customer" onclick="@("window.location.href='" + @Url.Action("SetupNewCustomer1", "SalesTransaction") + "'");" />

            @*<button type="button">Chef</button>*@
        
            @*How to create a button that will go to a different webpage*@
            @* <button onclick="openTab()">Educative</button>

            <script>
                function openTab() {
                    window.open("https://www.educative.io/", "_blank");
                }
            </script>*@

        </div>
    }
    @if (User.IsInRole("Server"))
    {
        <picture>
            <img src="/Images/SushiServer.jpg" alt="My logo">
        </picture>
        <br />
        <br />
        <div class="main-page-buttons">
            <button type="button">View Table Assignments</button>
            <button type="button">View My Tables</button>
            <button type="button">Clock-In</button>
            <button type="button">Clock-Off</button>
        </div>
    }
    @if (User.IsInRole("Chef"))
    {
        <picture>
            <img src="/Images/SushiChef.jpg" alt="My logo">
        </picture>
        <br />
        <br />
        <div class="main-page-buttons">
            <input type="button" value="View All Orders" onclick="@("window.location.href='" + @Url.Action("Index", "FoodBevOrder") + "'");" />
            <input type="button" value="View Open Orders" onclick="@("window.location.href='" + @Url.Action("ViewOpenFoodBevOrders", "FoodBevOrder") + "'");" />
            <button type="button">View Ingredient Stock Level</button>
            <button type="button">Clock-In</button>
            <button type="button">Clock-Off</button>
        </div>
    }
    @if (User.IsInRole("Manager"))
    {
        <picture>
            <img src="/Images/SushiManager.jpg" alt="My logo">
        </picture>
        <br />
        <br />
        <div class="main-page-buttons">
            <button type="button">View Tables</button>
            <button type="button">View Orders</button>
            <button type="button">View Transactions</button>
            <button type="button">View Clocked-In Staff</button>
            <input type="button" value="Reset Inventory Levels" onclick="@("window.location.href='" + @Url.Action("ResetAllIngredientsToBaseLevel", "FoodBevIngredient") + "'");" />
        </div>
    }
    @if (User.IsInRole("Owner"))
    {
        <picture>
            <img src="/Images/SushiOwner.jpg" alt="My logo">
        </picture>
        <br />
        <br />
        <div class="main-page-buttons">
            <button type="button">Tables</button>
            <button type="button">Orders</button>
            <button type="button">Transactions</button>
            <input type="button" value="Ingredients" onclick="@("window.location.href='" + @Url.Action("Index", "FoodBevIngredient") + "'");" />
            <input type="button" value="Reset All Inventory Levels" onclick="@("window.location.href='" + @Url.Action("ResetAllIngredientsToBaseLevel", "FoodBevIngredient") + "'");" />
            <button type="button">View Clocked-In Staff</button>
            <button type="button">Edit Employee Info</button>
            <button type="button">Create New Employee Account</button>
            <input type="button" value="Change Tax Rate" onclick="@("window.location.href='" + @Url.Action("ChangeTaxRate", "Admin") + "'");" />
            <input type="button" value="Change All You Can Eat Rate - Adult" onclick="@("window.location.href='" + @Url.Action("ChangeAllYouCanEatRateAdult", "Admin") + "'");" />
            <input type="button" value="Change All You Can Eat Rate - Child" onclick="@("window.location.href='" + @Url.Action("ChangeAllYouCanEatRateChild", "Admin") + "'");" />
            <input type="button" value="Change Customer Logout Password" onclick="@("window.location.href='" + @Url.Action("ChangeCustomerLogoutPassword", "Admin") + "'");" />
        </div>
    }
</div>